{% extends "base.html" %}
{% load static %}
{# at the terminal, run pip installdjango-bootstrap4 #}
{% load bootstrap4 %}
{% block title %}About - Get Ur Website{% endblock %}
{% block content %}
<div class="container" id="container">
  <h1 id="h1">About</h1>
  <p class="about_p">
    Just a college student trying to make money by building fully responsive
    webites, for cheap price. I build fully responsive and secure websites using
    Django Web Framework. I use django because I can build a fully working
    website very fast compared to other frameworks. And building user
    authentification is also very easy. I can use many SQL applications like
    Postgresql, MySQL.... for maintaining database with ease in Django. Django
    automatically creates a database, which very usefull.
    I have deisgned the logo of the websites using adobs spark, and i have edited many images in this websites for better visuality.
  </p>
</div>
{% endblock %}
