{% extends "base.html" %} {% load static %} {# at the terminal, run pip install
django-bootstrap4 #} {% load bootstrap4 %} {% block title %}Contact - Get ur
Webstie{% endblock %} {% block content %}
<div class="container" id="container">
  <h1 id="h1" class="mb-5">Contact Me............!</h1>
  <div class="ul">
    <ul>
      <li id="li">
        <a href="https://www.instagram.com/sanjith___kumar/"
          ><i class="fab fa-instagram" aria-hidden="true"></i
        ></a>
      </li>
      <li id="li">
        <a href="malito:sanjithkumar048@gmail.com"
          ><i class="fab fa-google" aria-hidden="true"></i
        ></a>
      </li>
      <li id="li">
        <a href="https://www.linkedin.com/in/sanjith-kumar-b8335b191"
          ><i class="fab fa-linkedin" aria-hidden="true"></i
        ></a>
      </li>
      <li id="li">
        <a href="https://t.me/SANJITH_KUMAR"
          ><i class="fab fa-telegram-plane" aria-hidden="true"></i
        ></a>
      </li>
      <li id="li">
        <a href="https://api.whatsapp.com/send?phone=+917204645047"
          ><i class="fab fa-whatsapp" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </div>
  <!-- <div class="my-4">
    <h4>1)You can cantact me through instagram DM.</h4>
    <a href="https://www.instagram.com/sanjith_kumar_008/" class="text-reset"><i class="fab fa-instagram fa-5x"></i></a>
    </div> -->
</div>
{% endblock %}
